* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
     background-color: #f4f6f9;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 8%;
    background-color: black;
    color: #fff;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #007BFF;
}

/* Product Container */
.container {
    background: #ffffff;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    overflow: hidden;
}

.product-image {
    flex: 1 1 400px;
    background: #e9eef5;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-details {
    flex: 1 1 400px;
    padding: 40px;
}

.product-details h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #0e0e0e;
}

.product-details p {
    margin-bottom: 20px;
    color: #666;
    line-height: 1.6;
}

.price {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 20px;
    font-weight: bold;
}

.features {
    margin-bottom: 25px;
    list-style: none;
}

.features li {
    margin-bottom: 8px;
    color: #444;
}

.buy-btn {
    display: inline-block;
    padding: 14px 30px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s ease;
}

.buy-btn:hover {
    /* background: #0056b3; */
}

/* Footer */
footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        flex-direction: column;
    }

    .product-details {
        padding: 25px;
    }
}
